node_modules/
.yarn/
.svelte-kit/
docs/
static/

# npm/yarn
package.json
package-lock.json
yarn.lock

# IDE
.vscode/

# Ignore these file types, usually config, or shpecial
**/*.json
**/*.md
**/*.svx
