# Build and artifacts
.svelte-kit
docs
static

# Configs
.gitignore
.eslintignore
.prettierrc
.stylelintignore
.editorconfig

# Ignore these file types, usually config, or shpecial
**/*.json
**/*.md
**/*.svx

# stylelint has this covered
**/*.postcss
**/*.css
