.root main {
  background-image: url('../../static/images/bg/drawing-1080p.png');
  background-blend-mode: difference;
  background-color: theme('backgroundColor.white');
  background-position: top;
  transition: background-color 300ms;
}

.root main .opacity-provider {
  @apply bg-white/80;
}

.root main .opacity-provider > * {
  transition-duration: 500ms;
  transition-timing-function: theme('transitionTimingFunction.in-out');
}

.root.dark main {
  background-blend-mode: hard-light;
  background-color: theme('colors.gray.900');
}

.root.dark main .opacity-provider {
  @apply bg-black/70;
}

@media screen(lg) {
  .root main {
    background-image: url('../../static/images/bg/drawing-1440p.png');
  }
}

@media screen(wide) {
  .root main {
    background-image: url('../../static/images/bg/drawing-2160p.png');
  }
}

@media screen(xwide) {
  .root main {
    background-image: url('../../static/images/bg/drawing.png');
  }
}
