.root main {
  background-blend-mode: difference;
  background-color: theme('backgroundColor.white');
  background-position: top;
  transition: background-color 300ms;
}

.root main .opacity-provider {
  @apply bg-white/80;
}

.root main .opacity-provider > * {
  transition-duration: 500ms;
  transition-timing-function: theme('transitionTimingFunction.in-out');
}

.root.dark main {
  background-blend-mode: hard-light;
  background-color: theme('colors.gray.900');
}

.root.dark main .opacity-provider {
  @apply bg-black/70;
}
