---
title: 'Noho Marae'
description: 'Upcoming recovery noho at Rawhitiroa marae, Ohaeawai'
date: '2021-08-23'
---

# Upcoming Recovery Marae Noho (when COVID-19 is gone again...)

[^24/08/2021-update]
[^24/08/2021-update]: Delayed thanks to COVID-19.

The noho will be held at [Rawhitiroa Marae](https://maorimaps.com/marae/rawhitiroa-te-ahuahu) in Ohaewai, not far from Ngāwha Springs.

- [Upcoming Recovery Marae Noho (when COVID-19 is gone again...)](#upcoming-recovery-marae-noho-when-covid-19-is-gone-again)
  - [Schedule](#schedule)
    - [Friday](#friday)
    - [Saturday](#saturday)
    - [Sunday](#sunday)
  - [Information](#information)
    - [Address](#address)
    - [Guest Speaker](#guest-speaker)

## Schedule

### Friday

| Time  | Activity            |
| ----- | ------------------- |
| 16:00 | Powhiri             |
|       | Dinner              |
|       | Marae history       |
|       | Whakawhanaungatanga |
|       | Moe                 |

### Saturday

[^17/07/2021-update]
[^17/07/2021-update]: Changed from **workshop** to **guest speaker**.

| Time  | Activity                              |
| ----- | ------------------------------------- |
| 07:00 | Karakia                               |
| 07:30 | Maunga hikoi (or tai chi if it's wet) |
| 09:00 | Breakfast                             |
| 10:00 | Guest speaker: Phill Paikea           |
| 12:30 | Lunch                                 |
| 14:00 | Workshop                              |
| 16:00 | Ngawha soak                           |
| 18:00 | Break                                 |
| 18:30 | Dinner                                |
| 20:00 | Talent (guest)                        |
|       | Moe                                   |

### Sunday

| Time  | Activity            |
| ----- | ------------------- |
| 07:00 | Karakia             |
| 07:30 | Tai chi             |
| 08:00 | Breakfast + pack up |
| 09:00 | Kapahaka            |
| 14:00 | Clean up            |
| 15:00 | Hakari hangi        |
| 16:00 | Home                |
|       | Moe                 |

## Information

### Address

> 444 State Highway 1, Te Ahuahu<br />
> Ohaewai<br />
> Kaikohe<br />
> Northland<br />
> 0475

### Guest Speaker

Phill Paikea from [SMSF](https://www.facebook.com/smsfebop).
