/* Base styles */
@import 'tailwindcss/base';

/* Components */
@import 'tailwindcss/components';
@import './lib/css/button.css';

/* Utilities */
@import 'tailwindcss/utilities';
@import './lib/css/utils.css';

/* Some layout related CSS */
@import './lib/css/column.css';
@import './lib/css/gradient.css';

html {
  min-width: 360px;
}

svg {
  /* This is a Chrome hack. Works fine on FF without. */
  height: 100%;
  width: 100%;
}
