/* Base styles */
@import 'tailwindcss/base';

/* Components */
@import 'tailwindcss/components';
@import './lib/components/components.postcss';

/* Utilities */
@import 'tailwindcss/utilities';
@import './lib/utils.postcss';

/* Layouts */
@import './lib/layout/column.postcss';
@import './lib/layout/gradient.postcss';
@import './lib/layout/translate/translate.postcss';
